<html>
    <head>
        <title>Chat app</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="chat.js"></script>
    </head>

    <body>
        <input type="text" id="username_input">
        <button type="button" id="username_btn">Set</button>
        <input type="text" id="message_input">
        <button type="button" id="message_btn">Send</button>

        <div id="chatroom"></div>
        <p id="typing"></p>
    </body>
</html>